@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
/*Global styles*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
}


html{
  font-family: var(--body-font);
  font-size: 10px;
  color: var(--body-font-color);
  scroll-behavior: smooth;
  background-image: url('https://i.ibb.co/c3vbfd1/background.png');
}

body{
  overflow-x: hidden;
}

section{
  padding: 3.9rem 0;
}

img{
  width: 100%;
  max-width: 100%;
}

a{
  text-decoration: none;
}

p{
  font-size: 1.6rem;
}

.container{
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}


header{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(0,0,0, .5), transparent);
}

.logo{
  width: 70px;
  height: 70px;
}

.nav{
  height: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-toggle{
  color: white;
  font-size: 2.2rem;
  position: fixed;
  top: 1.5em;
  transform: translateY(-50%);
  right: 2.5rem;
  cursor: pointer;
  z-index: 1500;
}

.fa-times{
  display: none;
}

.nav-list{
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background-color: var(--main-font-color-dark);
  padding: 4.4em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1250;
  transform: translateX(-100%);
  transition: transform .5s;
}

.nav::before{
  content: ' ';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, .8);
  z-index: 1000;
  opacity: 0;
  transform: scale(0);
  transition: opacity .5s;
}

.open .fa-times{
  display: block;
  position: fixed;
  top: -1rem;
  right: 0;
}

.open .fa-bars{
  display: none;
  position: fixed;
}

.open .nav-list{
  transform: translateX(0);
}
.open .nav::before{
  opacity: 1;
  transform: scale(1);
}

/*may remove*/
.nav-item{
  border-bottom: 2px solid rgba(255,255,255, .3);
}

.nav-link{
  display: block;
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin-right: -2px;
  transition: color .5s;
}

.nav-link:hover{
  color: var(--secondary-font-color);
}

.start{
  width: 100%;
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1463790452759-ce66b98dfca2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=50') center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
}

.sub-headline{
  font-size: 8rem;
  font-family: var(--secondary-font);
  color: white;
  font-weight: 100;
  line-height: .45;
  letter-spacing: 2px;
  opacity: 0;
  animation: fadeup 1s forwards;
  animation-delay: .5s;
}

.first-letter{
  font-size: 10rem;
}

.headline{
  color: white;
  font-size: 7rem;
  font-family: var(--main-font);
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: .2rem;
  margin-right: -.5rem;
  animation: scale 1s forwards;
}

.seperator{
  display: flex;
  align-items: center;
  justify-content: center;
}

.line{
  max-width: 10rem;
  height: .25rem;
  background-color: white;
  position: relative;
  width: 100%;
  animation: pop 2s forwards;
  animation-delay: .9s;
  opacity: 0;
}

.line-right::before, .line-left::before{
  content: ' ';
  position: absolute;
  border: .6rem solid transparent;
  top: 50%;
  transform: translateY(-50%);
  animation: pop .5s forwards;
  animation-delay: 1.2s;
  opacity: 0;
}

.line-right::before{
  border-right-color: white;
  right: 0;
}

.line-left::before{
  border-left-color: white;
  left: 0;
}

.asterisk{
  font-size: 1rem;
  color: black;
  margin: 0 2rem;
  animation: spin .5s forwards;
  animation-delay: .7s;
  opacity: 0;
}

.single-animation{
  opacity: 0;
  animation: fadeup 1s forwards;
  animation-delay: 1s;
}

.headline-description h5{
  color: white;
  font-size: 1.9rem;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  letter-spacing: 1px;
  margin-right: -3px;
}

.btn{
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: -2px;
}

.cta-btn{
  font-size: 1.5rem;
  background-color: white;
  padding: .9rem 1.8rem;
  margin: 0.3rem 0;

  color: black;
  border-radius: .6rem;
  transition: background-color .5s;
}

.cta-btn:hover, .cta-btn:focus{
  color: white;
  background-color: var(--secondary-font-color);
}

.global-headline{
  text-align: center;
  margin-top: 4rem;

}

.discover .global-headline{
  margin-top: 7rem;
}

.global-headline .asterisk{
  color: white;
  margin: 2.4rem 0;
  font-size: 1rem;
}
.headline-dark{
  color: black;
  font-size: 5em;
  font-family: devil;
  letter-spacing: .7rem;
  margin-right: .7rem;
}
.global-headline h2{
  color: black;
  letter-spacing: -1px;
  line-height: .42;
}

.global-headline .first-letter{
  text-transform: lowercase;
}

.about{
  text-align: center;
}

.caerus-info{
  margin-bottom: 3rem;
}

.caerus-info p{
  line-height: 1.6;
  margin-bottom: 2.4rem;
  font-size: 2rem;
}

.body-btn{
  font-size: 1.5rem;
  color: black;
  position: relative;
  transition: color .5s;
}

.body-btn::before{
  content: ' ';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: background-color .5s;
}

.body-btn:hover, .body-btn:focus{
  color: white;
}

.body-btn:hover::before, .body-btn:focus::before{
  color: white;
}

.airdrops{
  background: url('https://cdn.pixabay.com/photo/2017/08/08/16/41/rome-2611938_1280.jpg');
  background-size: cover;
}

.between{
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.airdrops h1, .airdrops h2{
  color: white;
}

.image-group{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.features .headline-description{
  padding-top: 3rem;
  margin-bottom: 0;
}

.features{
  text-align: center;
  line-height: 1.6;
  margin-bottom: 2.4rem;
  font-size: 2rem;
}

.AST{
  background: url('https://i.ibb.co/1bwR6W9/AST.png');
  background-size: cover;
}

.AST h1, .AST h2{
  color: white;
}

footer{
  padding: 7.9rem 0;
  background-color: #353535;
  color: white;
  text-align: center;
  position: relative;
}

.backtotop{
  width: 7rem;
  height: 7rem;
  background-color: #353535;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.backtotop i{
  display: block;
  color: white;
  font-size: 3rem;
  padding: 1.5rem;
  animation: up 2s infinite;
}

.footer-content{
  overflow: hidden;
}

.footer-content h4{
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.footer-content .asterisk{
  color: var(--secondary-font-color);
  font-size: 1.2rem;
  margin-bottom: 5rem;
  margin-top: -1.5rem;
}

.footer-content-about{
  margin-bottom: 5rem;
}

.footer-content-about p{
  line-height: 2;
}

.social-icons{
  list-style: none;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

.social-icons i{
  font-size: 3.5rem;
  color: white;
  padding: 0.8rem 1.5rem;
  opacity: .5;
  transition: color .5s;
}

.social-icons i:hover, .social-icons i:focus{
  color: var(--secondary-font-color);
}

















/*media tag*/
@media screen and (min-width: 900px){
section{
  padding: 7.9rem;
}

.menu-toggle{
  display: none;
}

.nav{
  justify-content: space-between;
}

.nav-list{
  position: initial;
  width: initial;
  height: initial;
  background-color: transparent;
  padding: 0;
  justify-content: initial;
  flex-direction: row;
  transform: initial;
  transition: initial;
}

.nav-item{
  margin: 0 2.4rem;
  border: none;
}

.nav-item:last-child{
  margin-right: 0;
}

.nav-link{
  font-size: 1.3rem;
}

.active{
  position: relative;
}

.active::before{
  content: ' ';
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: white;
  left: 0;
  bottom: -3px;
}

.sub-headline{
  font-size: 10rem;
  font-family: var(--secondary-font);
  color: white;
  font-weight: 100;
  line-height: .45;
  letter-spacing: 2px;
  opacity: 0;
  animation: fadeup 1s forwards;
  animation-delay: .5s;
}

.first-letter{
  font-size: 25rem;
}

.headline{
  color: white;
  font-size: 11rem;
  font-family: var(--main-font);
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: .2rem;
  margin-right: -.5rem;
  animation: scale 1s forwards;
}

.seperator{
  display: flex;
  align-items: center;
  justify-content: center;
}

.line{
  max-width: 15rem;
  height: .25rem;
  background-color: white;
  position: relative;
  width: 100%;
  animation: pop 2s forwards;
  animation-delay: .9s;
  opacity: 0;
}

.line-right::before, .line-left::before{
  content: ' ';
  position: absolute;
  border: .6rem solid transparent;
  top: 50%;
  transform: translateY(-50%);
  animation: pop .5s forwards;
  animation-delay: 1.2s;
  opacity: 0;
}

.line-right::before{
  border-right-color: white;
  right: 0;
}

.line-left::before{
  border-left-color: white;
  left: 0;
}

.asterisk{
  font-size: 2rem;
  color: black;
  margin: 0 2rem;
  animation: spin .5s forwards;
  animation-delay: .7s;
  opacity: 0;
}

.single-animation{
  opacity: 0;
  animation: fadeup 1s forwards;
  animation-delay: 1s;
}

.headline-description h5{
  color: white;
  font-size: 3rem;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  letter-spacing: 1px;
  margin-right: -3px;
}

.btn{
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: -2px;
}

.cta-btn{
  font-size: 2rem;
  background-color: white;
  padding: .9rem 1.8rem;
  margin: 0.5rem 0;
  color: black;
  border-radius: .6rem;
  transition: background-color .5s;
}

.global-headline .asterisk{
  color: white;
  margin: 2.4rem 0;
  font-size: 2rem;
}

.about{
  display: flex;
  align-items: center;
}

.about >div{
  flex: 1;
}

.padding-right{
  padding-right: 7rem;
}

.token-info{
  display: flex;
  align-items: center;
}

.footer-content{
  max-width: 77.5rem;
  margin: auto;
}

.footer-content-about{
  max-width: 77rem;
  margin: 0 auto 5rem;
}

.social-icons i{
  opacity: 1;
}
}

/*animation*/
@keyframes fadeup{
  0%{
    transform: translateY(4rem);
  }

100%{
  opacity: 1;
  transform: translateY(0);
}
}

@keyframes scale{
  0%{
    transform: scale(2);
  }

100%{
  opacity: 1;
  transform: scale(1);
}
}

@keyframes pop{
  0%{
    width: 0;
  }

100%{
  opacity: 1;
  width: 100%;
}
}

@keyframes spin{
  0%{
    transform: rotate(0);
  }

100%{
  opacity: 1;
  transform: rotate(-360deg);
}
}

@keyframes fadedown{
  0%{
    transform: translateY(-1rem);
  }

100%{
  opacity: 1;
  transform: translateY(0);
}
}

@keyframes up{
  0%{
    opacity: 0;
  }

  50%{
    opacity: 1;
  }

100%{
  opacity: 0;
  transform: translateY(-.9rem);
}
}
